<link rel="stylesheet" href="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="../../plugins/select2/select2.min.css">
 <div class="col-sm-9" >
    <!-- create notification -->
          <div>
<!--         <ng-include src=''></ng-include> -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Viết thông báo</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="form-group">
                  <select class="form-control select2" multiple="multiple" data-placeholder="Select some Group" style="width: 100%;" data-ng-model='notificationData.studentGroups' ng-options="group._id as group.name for group in studentGroups">

                  </select>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Subject:"  data-ng-model="notificationData.title" >
                </div>
                <div class="form-group">
                      <textarea id="compose-textarea" class="form-control" style="height: 300px" data-ng-model="notificationData.body">

                      </textarea>
                </div>
                <div class="form-group">
                  <div class="btn btn-default btn-file">
                    <i class="fa fa-paperclip"></i> Dính kèm
                    <input type="file" name="attachment">
                  </div>
                  <p class="help-block">Max. 32MB</p>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-default" ng-click="createNotification()"><i class="fa fa-pencil" ></i> Nháp</button>
                  <button type="submit" class="btn btn-primary" ng-click="sendNotification()"><i class="fa fa-envelope-o" ></i> Gửi</button>
                </div>
                <button type="reset" class="btn btn-default" ng-click="refresh()"><i class="fa fa-times" ></i> Hủy</button>
              </div>
            </div>
       </div>

<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
  $(function () {
    //Add text editor
    $("compose-textarea").wysihtml5();
    $(".select2").select2();
  });
</script>