<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>admin</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <style type="text/css">
    	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide{
    		display: none !important;
		}
    </style>
</head>
<body>
    <div class="jumbotron" ng-controller="LoginController">
	    <div class="container">
	        <div class="col-sm-8 col-sm-offset-2">
	            <div class="col-md-6 col-md-offset-3">
	                <span ng-show="message.error" ng-cloak>{{message.error}}</span>
	                <h2>Login</h2>
	                <form name="form" ng-submit="login()" >
	                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
	                        <label for="email">Email</label>
	                        <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
	                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block" ng-cloak>Email is required</span>
	                        <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block" ng-cloak>Email is invalid</span>
	                    </div>
	                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
	                        <label for="password">Password</label>
	                        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
	                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block" ng-cloak>Password is required</span>
	                    </div>
	                    <div class="form-actions">
	                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="../bower_components/ngstorage/ngStorage.min.js"></script>
<script src="https://code.angularjs.org/1.2.13/angular-cookies.js"></script>
<script src="../bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="app.js"></script>
</html>