    <section class="content-header">
      <h1>
        Thông tin sinh viên
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Thông tin sinh viên</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../home/dist/img/nobody_m.original.jpg" alt="User profile picture">

              <h3 class="profile-username text-center" ng-cloak>{{userInformation.personalInfo.fullName}}</h3>

              <p class="text-muted text-center">UET</p>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i>Education</strong>

              <p class="text-muted">
                UET. Univesity of engineering and technology
              </p>
              <hr>
              <strong><i class="fa fa-suitcase margin-r-5"></i>Lớp</strong>
              <p class="text-muted">
                {{userInformation.personalInfo.className}}
              </p>
              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i>Địa chỉ</strong>

              <p class="text-muted">Dubai, Viet Nam</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i>Kỹ năng</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" ng-init="tab=1">
              <li ng-class="{true:'active',false:''}[tab===1]"><a data-toggle="tab" ng-click="tab=1">Thông tin cơ bản</a></li>
              <li ng-class="{true:'active',false:''}[tab===2]"><a data-toggle="tab" ng-click="tab=2">Thông tin khác</a></li>
              <li ng-class="{true:'active',false:''}[tab===3]"><a data-toggle="tab" ng-click="tab=3">Cài đặt</a></li>
            </ul>
            <div class="tab-content">
              <div ng-class="{true:'tab-pane active',false:'tab-pane'}[tab===1]" id="basicinfo" ng-show="tab===1">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tên</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name" data-ng-model="settingInformation.fullName"  disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">Giới tính</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="gender" placeholder="birthdate" data-ng-model="settingInformation.gender"  disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputBirthdate" class="col-sm-2 control-label">Ngày sinh</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputBirthdate" placeholder="birthdate" data-ng-model="settingInformation.DOB"  disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="class" class="col-sm-2 control-label">Lớp khóa học</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="class" placeholder="birthdate" data-ng-model="settingInformation.class"  disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-ng-model="settingInformation.email"  disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger" ng-click="updateInfo()">Cập nhật</button>
                    </div>
                  </div>
                </form>
              </div>
              <div ng-class="{true:'tab-pane active',false:'tab-pane'}[tab===2]" id="advancedInfo" ng-show="tab===2">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="#" class="col-sm-2 control-label">Kỹ năng: </label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline"><input type="checkbox" value=""> UI Design</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Coding</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Javascript</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> PHP</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Node.js</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Python</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> C</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> C++</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> DB Design</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="#" class="col-sm-2 control-label">Sở thích: </label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline"><input type="checkbox" value=""> Coding</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Game</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Algorithms</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Build app</label>
                        <label class="checkbox-inline"><input type="checkbox" value=""> Shopping</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger" ng-click="updateAdvancedInfo()">Cập nhật</button>
                    </div>
                  </div>
                </form>
              </div>
              <div ng-class="{true:'tab-pane active',false:'tab-pane'}[tab===3]" id="setting" ng-show="tab===3">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="revoke-button" class="col-sm-2 control-label">Revoke: </label>
                    <button type="submit" class="btn btn-danger"  id='revoke-button' ng-click="revoke()">Revoke</button>
                    <!-- <span ng-if="revoked"> revoked! </span> -->
                  </div>
                  <div class="form-group">
                    <b class="col-sm-2 control-label">Đổi mật khẩu: </b>
                  </div>
                  <div class="form-group">
                    <label for="oldpassword" class="col-sm-2 control-label">Mật khẩu cũ</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="oldpassword" placeholder="old password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newpassword" class="col-sm-2 control-label">Mật khẩu mới</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="newpassword" placeholder="new password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newpassword2" class="col-sm-2 control-label">Mật khẩu mới</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="newpassword2" placeholder="retype new password">
                    </div>    
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger" ng-click="changePassword()">Cập nhật</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>