    <section class="content-header">
      <h1>
        Kết quả học tập
        <small>review</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">student record</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content" ng-controller="studentscore">
      <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="LineCtrl">
        <div class="panel panel-default">
          <div class="panel-heading">Line Chart</div>
          <div class="panel-body">
            <canvas id="line" class="chart chart-line" chart-data="linedata" chart-labels="linelabels" chart-legend="true"
                    chart-click="onClick" chart-hover="onHover" chart-series="lineseries"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="RadarCtrl">
              <div class="panel panel-default">
                <div class="panel-heading">Radar Chart</div>
                <div class="panel-body">
                  <canvas id="area" class="chart chart-radar" chart-data="data"
                          chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
                </div>
              </div>
            </div>
      </div>

      <div class="col-lg-6 col-sm-12" id="pie-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
              <canvas id="pie" class="chart chart-pie chart-xs" chart-data="ABCDPiedata" chart-labels="ABCDPielabels"></canvas>
            </div>
          </div>
      </div>

      <table class="table table-bordered table-background">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã MH</th>
            <th>Môn học</th>
            <th>Tín chỉ</th>
            <th>Điểm hệ 10</th>
            <th>Điểm chữ</th>
            <th>Điểm hệ 4</th>
          </tr>
        </thead>
        <tbody ng-repeat="(semester,record) in records">
          <tr><th colspan= '42' style="text-align:left;">{{semester}}</th></tr>
          <tr ng-repeat='(index,item) in record'>
            <th scope="row">{{index}}</th>
            <td>{{item.subjectCode}}</td>
            <td>{{subjectsNameDictViet[item.subjectCode]}}</td>
            <td>{{subjectCredits[item.subjectCode]}}</td>
            <td>{{item.score}}</td>
            <td>{{item.scoreChar}}</td>
            <td>{{item.score4}}</td>
          </tr>
        </tbody>
      </table>
      
    </section>