<div class="student-infomation-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Thông tin sinh viên</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/infomation/profile">
                        <i class="text-success icon-user"></i> <span> Hồ sơ cá nhân</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/infomation/score">
                        <i class="text-success icon-magazine"></i> <span> Kết quả học tập</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/infomation/survey">
                        <i class="text-success icon-stats-bars2"></i> <span> Khảo sát sinh viên</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/infomation/profile#password">
                        <i class="text-success icon-lock"></i> <span> Đổi mật khẩu</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- /panel -->
</div>