<div class="student-recommendation-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Tư vấn học tập</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row ">
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/recommendation/study">
                        <i class="text-orange icon-stats-growth"></i> <span> Tư vấn lộ trình</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/recommendation/subject">
                        <i class="text-orange icon-book"></i> <span> Gợi ý môn học kỳ tới</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/recommendation/score">
                        <i class="text-orange icon-bookmark4"></i> <span> Dự báo kết quả học tập</span>
                    </a>
                </div>
                <!-- TODO -->
<!--                 <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/recommendation/timetable">
                        <i class="text-orange icon-file-plus"></i> <span> Tạo thời khóa biểu</span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>