<div class="student-recommendation-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Gợi ý môn học kỳ tới</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="hide row">
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-green invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#1</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-blue invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#2</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-teal invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#3</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-orange invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#4</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-pink invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#5</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel border-left-lg border-left-green invoice-grid">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h6 class="text-semibold no-margin-top">Lorem Ipsum is simply dummy text</h6>
                                    <ul class="list list-unstyled">
                                        <li>Thực hành: <span class="text-semibold">10 giờ</span></li>
                                        <li>Lý thuyết: <span class="text-semibold">8 giờ</span></li>
                                    </ul>
                                </div>

                                <div class="col-sm-6">
                                    <h6 class="text-semibold text-right no-margin-top">#6</h6>
                                    <ul class="list list-unstyled text-right">
                                        <li>Tiên quyết: <span class="text-semibold">2</span></li>
                                        <li>
                                            <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <ul>
                                <li><span class="status-mark border-success position-left"></span> Mã môn: <span class="text-semibold">LI1</span></li>
                            </ul>

                            <ul class="pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#invoice"><i class="icon-eye8"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline timeline-left content-group">
                <div class="timeline-container">
                    <div ng-repeat="(key, value) in items" ng-class="{'post-even': key%2 !=0}" class="timeline-row">
                        <div class="timeline-icon">
                            <div class="bg-blue">
                                <i class="text-center text-bold">{{key+1}}</i>
                            </div>
                        </div>
                        <div class="panel border-left-lg border-left-blue invoice-grid">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h6 class="text-semibold no-margin-top">{{value.subjectName.vi}} <br>({{value.subjectName.en}})</h6>
                                        <ul class="list list-unstyled">
                                            <li>Thực hành: <span class="text-semibold">{{value.subjectDetails.practiceHour}} giờ</span></li>
                                            <li>Lý thuyết: <span class="text-semibold">{{value.subjectDetails.onClassHour}} giờ</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3">
                                        <h6 class="text-semibold text-right no-margin-top">#{{key+1}}</h6>
                                        <ul class="list list-unstyled text-right">
                                            <li>Số tín chỉ: <span class="text-semibold">{{value.subjectDetails.credits}}</span></li>
                                            <li>
                                                <span class="label bg-success-400 dropdown-toggle" data-toggle="dropdown">Đang mở</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <ul>
                                    <li>Mã môn: <span class="text-semibold">{{value.subjectCode}}</span></li>
                                </ul>

                                <ul class="pull-right">
                                    <li>
                                        Tiên quyết: <span class="text-semibold" ng-if="value.subjectDetails.prerequisites.length == 0">Không</span>
                                        <span class="text-semibold" ng-if="value.subjectDetails.prerequisites.length > 0" ng-repeat="prerequisite in value.subjectDetails.prerequisites">{{prerequisite}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>