<div class="student-recommendation-page student-recommendation-score-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Dự báo kết quả học tập</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <p>Chọn môn học trong danh sách bên dưới sau đó nhấn vào nút xem dự đoán để xem số điểm mà bạn có thể đạt được</p>
        </div>
        <table show-filter="true" ng-table="tableParams" class="table table-hover" width="100%">
            <tr ng-repeat="item in $data">
                <td data-title="'STT'" filter="{ i: 'text'}" sortable="'i'">{{item.i}}</td>
                <td data-title="'Mã môn học'" filter="{ code: 'text'}" sortable="'code'">{{item.code}}</td>
                <td data-title="'Tên môn học'" filter="{ name: 'text'}" sortable="'name'">{{item.name}}</td>
                <td data-title="'Số tín chỉ'" filter="{ credits: 'text'}" sortable="'credits'" class="text-center">{{item.credits}}</td>
                <td data-title="'Tiên quyết'" filter="{ prerequisite: 'text'}" sortable="'prerequisite'" class="text-center">{{item.prerequisite}}</td>
                <td>
                    <button data-name="info" ng-click="getPredictScore(item.code);passInfo(item)" type="button" data-toggle="modal" data-target="#modalViewScore" class="btn bg-green btn-xs"><i class="icon-eye"></i> Xem dự đoán điểm</button>
                </td>
            </tr>
        </table>
    </div>
    <!-- /panel -->
    <div id="modalViewScore" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-blue-700">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><i class="icon-bookmark4"></i> Dự đoán số điểm có thể đạt được</h5>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <p><strong>Mã môn học:</strong> {{selectedSubjectInfo.code}}</p>
                            <p><strong>Tên môn học:</strong> {{selectedSubjectInfo.name}}</p>
                            <p><strong>Tín chỉ:</strong> {{selectedSubjectInfo.credits}}</p>
                            <p><strong>Tiên quyết:</strong> {{selectedSubjectInfo.prerequisite}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>Số điểm có thể đạt được</strong></p>
                            <span class="badge bg-green text-size-large">{{scorePrediction}}</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->
</div>