<div class="student-school-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Thông tin từ nhà trường</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row ">
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/school/news">
                        <i class="text-teal icon-info3"></i> <span> Giới thiệu nhà trường</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/school/eps">
                        <i class="text-teal icon-bookmark4"></i> <span> Chương trình đào tạo</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/school/timetable">
                        <i class="text-teal icon-calendar22"></i> <span> Thời khóa biểu</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/school/notice">
                        <i class="text-teal icon-star-full2"></i> <span> Thông báo quan trọng</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>