<div class="student-srd-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Gợi ý NCKH và KLTN</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row ">
                <div class="col-xs-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/suggestion/lecturerinfo">
                        <i class="icon-flag8 text-purple"></i> <span> Thông tin giảng viên hướng dẫn</span>
                    </a>
                </div>
<!--                 <div class="col-xs-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/suggestion/srd">
                        <i class="icon-lab text-purple"></i> <span> Gợi ý nghiên cứu khoa học</span>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/suggestion/thesis">
                        <i class="icon-graduation text-purple"></i> <span> Gợi ý khóa luận tốt nghiệp</span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>