<div class="student-utility-page single-panel-page">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Dành cho sinh viên</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="row ">
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/utility/request">
                        <i class="text-danger icon-rotate-cw"></i> <span> Xin mở lớp</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/utility/comment">
                        <i class="text-danger icon-bubble-lines4"></i> <span> Bình luận đánh giá môn học</span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/utility/assessment">
                        <i class="text-danger icon-stack-star"></i> <span> Phản hồi về môn đã học </span>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-block btn-float btn-default btn-float-lg" href="/student/utility/feedback">
                        <i class="text-danger icon-envelope"></i> <span> Góp ý và đánh giá hệ thống</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /panel -->
</div>