    <section class="content-header">
      <h1>
        Xem tất cả
        <small>review</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Xem tất cả</li>
      </ol>
    </section>

    <!-- Main content -->
	<section class="content">
	        <div >
	          <div class="box box-primary fixed">
	            <div class="box-header with-border">
	              <h3 class="box-title">Thông báo</h3>

	              <div class="box-tools pull-right">
	                <div class="has-feedback">
	                  <input type="text" class="form-control input-sm" placeholder="Search">
	                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
	                </div>
	              </div>
	              <!-- /.box-tools -->
	            </div>
	            <!-- /.box-header -->
	            <div class="box-body no-padding">
	              <div class="mailbox-controls">
	                <!-- Check all button -->
	                <button type="button" class="btn btn-default btn-sm checkbox-toggle" ng-click='clickAll($event)'><i class="fa fa-square-o"></i>
	                </button>
	                  <button type="button" class="btn btn-default btn-sm" ng-click="deleteNotifications()"><i class="fa fa-trash-o"></i></button>
	                <!-- /.btn-group -->
	                <button type="button" class="btn btn-default btn-sm" ng-click='refresh()'><i class="fa fa-refresh"></i></button>

	                 <button type="button" class="btn btn-default btn-sm" ng-click='showimportant()'><i class="fa fa-star"></i></button>
	                <button type="button" class="btn btn-default btn-sm" ng-click='showUnread()'><i class="fa fa-eye"></i></button>
	                	</div>
	                  <!-- /.btn-group -->
	                </div>
	                <!-- /.pull-right -->
	              </div>
	              <div class="table-responsive mailbox-messages">
	                <table class="table table-hover table-striped">
	                  <tbody>
	                  <tr ng-repeat='notification in notifications' ng-class="{true: '', false: 'unread-row'}[notification.isRead==true]">
	                    <td><input type="checkbox" value='{{notification.notification._id}}' class="notificationCheckbox"></td>
	                    <td class="mailbox-star"><a href="#"><i ng-click="starClickToggle($event,$index,notification.notification._id,notification.isImportant)" ng-class="{true: 'fa fa-star text-yellow', false: 'fa fa-star-o text-yellow'}[notification.isImportant==true]"></i></a></td>

	                    <td ><a href="#"><i ng-click="isReadClickToggle($event,$index,notification.notification._id,notification.isRead)" ng-class="{true: 'fa fa-eye-slash', false: 'fa fa-eye'}[notification.isRead==true]"></i></a></td>

	                    <td class="mailbox-name"  ng-click="redirect('notification/'+notification.notification._id)">{{emailTrim(notification.notification.creator.email)}}</td>
	                    <td class="mailbox-subject" ng-click="redirect('notification/'+notification.notification._id)" ng-cloak>{{notification.notification.title}}
	                    </td>
	                    <!-- <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td> -->
	                    <td class="mailbox-date"  ng-click="redirect('notification/'+notification.notification._id)">{{timeConvert(notification.notification.createdAt)}}</td>

	                  </tr>
	                  </tbody>
	                </table>
	                <!-- /.table -->
	              </div>
	              <!-- /.mail-box-messages -->
	          <!-- /. box -->
	        </div>
	        <!-- /.col -->
	      </div>
	      <!-- /.row -->
	    </section>
