

@media (max-width: 1200px) {

}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

    .section-4 .item p{
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .header .navbar{
        padding: 0;
        margin: 0;
    }
    .section-4 .item p{
        max-width: 100%;
        padding: 0 25px;
    }
    .section-2 .content .col-xs-6 span{
        text-align: center;
        margin: 0 auto 50px;
        font-weight: 500;
        max-width: 300px;
    }
    .section-2 .content i{
        display: block;
        margin: auto;
        float: initial;
    }
    .section-2 .content .col-xs-6 {
        width: 100%;
        text-align: center;
        border-top: 1px solid #f0f0f0;
        padding-top: 40px;
    }
    .section-1 {
        margin-top: 50px;
    }
    .header .navbar-brand {
        margin-left: 5px;
    }
    .header .navbar-brand>img {
        max-height: 40px;
    }
    .owl-controls .owl-buttons .owl-next {
        right: 0;
    }
    .owl-controls .owl-buttons .owl-prev {
        left: 0;
    }
    .footer{
        line-height: 40px;
    }
    .footer .pull-left,
    .footer .pull-right{
        float: none !important;
        margin: auto;
        text-align: center;
        display: block;
    }

}

@media (max-width: 420px) {

}

@media (max-width: 320px) {

}