<!--     <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/Chart.js/dist/Chart.min.js"></script>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgba(255, 159, 64)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
 -->
<section class="content-header">
      <h1>
        ChartJS
        <small>Preview sample</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Charts</a></li>
        <li class="active">ChartJS</li>
      </ol>
</section>
<section class="content">
<div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="LineCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">Line Chart</div>
      <div class="panel-body">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"
                chart-click="onClick" chart-hover="onHover" chart-series="series"></canvas>
      </div>
    </div>
</div>

<div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="RadarCtrl">
          <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
              <canvas id="area" class="chart chart-radar" chart-data="data"
                      chart-labels="labels" chart-click="onClick"></canvas>
            </div>
          </div>
        </div>
</div>
</section>