table, th, td {
    border: 3px solid #e7e6e6 !important;
    border-collapse: collapse !important;
    text-align: center;
}
.table-background{
	background-color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.isread-label{
	color: red;
}
.isread{
	background-color:#feefef;
}

[ng-click]{
	cursor: pointer;
}

.unread-row{
	font-weight: bold;
	text-shadow: 	text-shadow: 2px 2px #ff0000;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
.alert-fixed {
    position:fixed; 
    top: 30px; 
    left: 10%; 
    width: 80%;
    z-index:9999; 
    border-radius:0px
}