    <section class="content-header">
      <h1>
         Thông tin NCKH&KLTN
        <small>review</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Thông tin NCKH&KLTN</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <table class="table table-bordered table-background">
          <thead>
            <tr>
              <th>STT</th>
              <th>Giảng viên</th>
              <th>Bộ môn</th>
              <th>Khóa luận</th>
              <th>Nghiên cứu</th>
              <th>Dạy </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(index,lecturer) in scienceResearchDirections">
              <th scope="row">{{index +1}}</th>
              <td>{{lecturer.degree + lecturer.lecturer}}</td>
              <td>{{lecturer.workplace}}</td>
              <td> <ul><li ng-repeat="thesis in lecturer.thesisGuide track by $index" style="text-align: left;">{{thesis}}</li></ul></td>
              <td> <ul><li ng-repeat="study in lecturer.study track by $index" style="text-align: left;">{{study}}</li></ul></td>
              <td> <ul><li ng-repeat="teach in lecturer.teach track by $index" style="text-align: left;">{{teach}}</li></ul></td>
            </tr>
          </tbody>
        </table>
    </section>