table, th, td {
    border: 3px solid #e7e6e6 !important;
    border-collapse: collapse !important;
    text-align: center;
}
.table-background{
	background-color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.isread-label{
	color: red;
}
.isread{
	background-color:#feefef;
}

[ng-click]{
	cursor: pointer;
}